@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.sec {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.uno {
  background: url(../img/arriba.PNG);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sesgouno {
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 15vh 0 0 100vw;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}

.tres {
  background: url(../img/abajo.PNG);
}
